.checkout{
  padding: 40px 0 102px;
  &__form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 300px;
    margin-top: 50px;
    row-gap: 60px;
    &-block{
      width: calc(50% - 150px);
    }
    &-title{
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.02em;
      margin-bottom: 47px;
    }
    &-fields{
      display: flex;
      flex-direction: column;
      row-gap: 35px;
    }
    &-field{
      border: none;
      border-bottom: 1px solid black;
      padding-bottom: 16px;
      outline: none;
    }
    &-list{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    &-item{
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
      font-weight: 500;
      font-size: 17px;
      letter-spacing: 0.02em;
      &_count{
        background: #F1EADC;
        padding: 15px 24px;
      }
    }
    &-label{
      display: flex;
      align-items: center;
      column-gap: 14px;
      font-size: 17px;
      letter-spacing: 0.02em;
      input{
        width: 22px;
        height: 22px;
      }
    }
    &-btn{
      background: #6E9C9F;
      padding: 22px 50px;
      font-size: 17px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }
    &-commit{
      border: none;
      outline: none;
      padding-bottom: 110px;
      border-bottom: 1px solid black;
      width: 100%;
    }
  }
}